<% content_for :subtitles do %>...with a name .com hipsters love!<% end %>


<h1>All the World's Articles</h1>

<div id="newLink">
	<%= link_to image_tag('icons/add.png'), new_article_path %>
	<%= link_to 'Create an Article', new_article_path %>
</div>

<div class="tablewrapper">
	<table>
  		<thead>
  			<tr>
    			<th>Title</th>
    			<th>Author Name</th>
    			<th>Body</th>
    			<th>Creation Date</th>
    			<th></th>
  			</tr>
  		</thead>
  		<tbody>
			<% @articles.each do |article| %>
  			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    			<td><%= article.title %></td>
    			<td><%= article.author %></td>
    			<td><%= truncate(article.body, length: 65) %></td>
    			<td><%= article.creation.strftime("%A, %b. %d %Y") %></td>
    			<td class="edge">
					<%= link_to image_tag('icons/magnifier.png'), article %>
					<%= link_to image_tag('icons/book_edit.png'), edit_article_path(article) %>
    				<%= link_to image_tag('icons/delete.png'), article, confirm: 'Are you sure?', method: :delete %>
				</td>
  			</tr>
			<% end %>
  		</tbody>
	</table>
</div>

<br />

<%= pluralize(@articles.count, "article") + "." %>