<% content_for :subtitles do %>...what's "Articl" in Spanish anyway?<% end %>


<p id="notice"><%= notice %></p>

<%= link_to image_tag('icons/arrow_left.png'), articles_path %>
<%= link_to 'list all articles', articles_path %>

<%= link_to image_tag('icons/book_edit.png'), edit_article_path(@article) %>
<%= link_to 'edit', edit_article_path(@article) %>

<%= link_to image_tag('icons/delete.png'), edit_article_path(@article) %>
<%= link_to 'delete', @article, confirm: 'Are you sure?', method: :delete %>

<%= mail_to "santiago@articl.es", image_tag('icons/email.png') %>
<%= mail_to "santiago@articl.es", 'email' %>

<br><br>

<h1><%= @article.title %></h1>

<br><br>
  By <%= @article.author %>. <%= pluralize(@article.edits, 'edit') %> since <%= @article.creation.strftime("%A, %b. %d %Y") %>
<br><br>

<p>
  <%= @article.body %>
</p>