<% content_for :subtitles do %>...sorry, no catchy subtitle here<% end %>


<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<%= link_to image_tag('icons/arrow_left.png'), authors_path, :title => "Click to go back" %>
<%= link_to 'back', authors_path, :title => "Click to go back" %>
<br><br>
<h1>Editing "<%=h @author.name %>"</h1>
<br><br>
<%= render :partial => 'form', :locals => { :edit => true } %>