- content_for :subtitles do
  \...sorry, no catchy subtitle here
- flash.each do |key, msg|
  = content_tag :div, msg, :id => key
= link_to image_tag('icons/arrow_left.png'), authors_path, :title => "Click to go back"
= link_to 'list all authors', authors_path, :title => "Click to go back"
= link_to image_tag('icons/book_edit.png'), edit_author_path(@author), :title => "Click to edit the author"
= link_to 'edit', edit_author_path(@author), :title => "Click to edit the author"
= link_to image_tag('icons/delete.png'), edit_author_path(@author), :title => "Click to delete the author"
= link_to 'delete', @author, confirm: 'Are you sure?', method: :delete, :title => "Click to delete the author"
%br/
%br/
%h1= h @author.name
%br/
%br/
= image_tag @author.photo.url, { :style => "width:200px;"}
%br/
%br/
Articles written by #{h @author.name}:
%ul
  - @author.articles.each do |article|
    %li= h article.title
