!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #nav
      Logged in as
      \#{link_to current_user.name, edit_admin_user_path(current_user.id)},
      = current_user.role.name + '.'
      = link_to "Admin", :admin_root
      My Games-
      -#= link_to "My Games", :admin_games
      = link_to "Logout", :logout
    #title
      %h1= link_to("Gamez", root_path) + " : Admin"
    #menubar
      -#%span.baritem= link_to 'Games', admin_games_path, :title => "Click to view games"
      %span.baritem= link_to 'Users', admin_users_path, :title => "Click to view users"
      %span.baritem= link_to 'Roles', admin_roles_path, :title => "Click to view roles"
    #body
      %p#notice= flash[:notice]
      %p#warning= flash[:warning]
      %p#error= flash[:error]
      = yield
