!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #nav
      - if current_user
        Logged in as
        \#{link_to current_user.name, edit_user_path(current_user.id)},
        = current_user.role.name + '.'
        \#{link_to "Logout", :logout}
      - else
        = link_to "Login", :login
        |
        \#{link_to "Register", new_user_path}
    = yield
