!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
 		#nav
      Logged in as
      \#{link_to current_user.name, member_me_path},
      = current_user.role.name + '.'
      = link_to "My Games", :member_root
      \#{link_to "Logout", :logout}
    #title
      %h1 Gamez : Member
    #menubar
      -#%span.baritem= link_to 'Games', admin_games_path, :title => "Click to view games"
      %span.baritem= link_to 'Users', admin_users_path, :title => "Click to view users"
      %span.baritem= link_to 'Roles', admin_roles_path, :title => "Click to view roles"
    #body
      %p#notice= flash[:notice]
      %p#warning= flash[:warning]
      %p#error= flash[:error]
      = yield