%h1 Listing users
%p#notice= notice
.paginatewrapper= will_paginate @posts
%table
  %tr
    %th Name
    %th Username
    %th Last Login
    %th FUTURE
  - @users.each do |user|
    %tr
      - if permitted_to? :edit, user
        %td= link_to user.name, edit_user_path(user)
      - else
        %td= user.name
      %td= user.username
      %td= user.last_login_at
      %td FUTURE
