= form_for([:admin, @game]) do |f|
  - if @game.errors.any?
    #error_explanation
      %h2
        - if @game.new_record?
          Could not create game:
        - else
          Could not save changes:
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :rating
    %br/
    - Game::RATINGS.each do |rating|
      %label
        = f.radio_button(:rating, rating, {:checked => false})
        = rating.humanize
        %br/
    -#= f.label :rating
    -#= f.collection_select :rating, Game::RATINGS, :to_s, :titleize, { :include_blank => true }
  .field
    = f.label :user_id, "Creator"
    %br/
    = f.select(:user_id, User.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true })
  .actions
    = f.submit "Save"
