%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Crypted password:
  = @user.crypted_password
%p
  %b Password salt:
  = @user.password_salt
%p
  %b Persistence token:
  = @user.persistence_token
%p
  %b First:
  = @user.first
%p
  %b Last:
  = @user.last
= link_to 'Edit', edit_admin_user_path(@user)
|
\#{link_to 'Back', admin_users_path}
