<!DOCTYPE html>
<html>
<head>
  <title>Articl.es – All the World's Articles (with a name .com hipsters love)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="title">
	<h1>Articl.es</h1>
	<h2><%= ['...with a name .com hipsters love!', '...what\'s "Articl" in Spanish anyway?', '...my cousin works for Bit.ly', '...not just for the country of Spain'].sample %></h2>
</div>

<div id="body">
	<%= yield %>
</div>

</body>
</html>
