%h1 My Gamez
= link_to 'add a new game', new_member_game_path
.paginatewrapper= will_paginate @games
%table
  %tr
    %th Title
    %th Rating
    %th Date Added
  - @games.each do |game|
    %tr{:class => cycle('list_line_odd', 'list_line_even')}
      %td= link_to game.title, edit_member_game_path(game)
      %td= rating_for_game(game)
      %td= game.created_at.strftime("%A, %b. %d %Y") + " by " + name_for_game(game)
%br/
I've created x games, x% of which are rated.
