<% content_for :subtitles do %>...my cousin works for Bit.ly<% end %>


<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<%= link_to image_tag('icons/arrow_left.png'), session[:return_url], :title => "Click to go back" %>
<%= link_to 'back', session[:return_url], :title => "Click to go back" %>
<br><br>
<h1>Editing "<%=h @article.title %>"</h1>
<br><br>
<%= render :partial => 'form', :locals => { :edit => true } %>
